{% extends 'base.html' %}
{% block content %}
    <style>
        .container-about{
            margin-left: 450px;
            margin-top: 100px;
        }
    </style>

    <section>
        <div class="container-about">
            <h2>О сайте</h2>
            <h6>Сайт создан при обучении фреймворку Flask</h6>
            <h6>Контакты:</h6>
            <p>Email: ovsenka3@gmail.com</p>
            <p><a href="https://github.com/Ovsenka/learn_flask"></a>Github: https://github.com/Ovsenka/learn_flask</p>
        </div>
    </section>
    
{% endblock %}