{% extends 'base.html' %}
{% block content %}
    <h3>Contact us</h>
    {% for msg in get_flashed_messages() %}
        <h4><div class="flash">{{ msg }}</div></h4>
    {% endfor %}
    <form action="contact" method="post">
        <label for="name">Enter your name</label>
        <input type="text" name="name" value="" required>
        <label for="message">Enter your question</label>
        <input type="text" name="message" value="" required>
        <input type="submit" value="Submit">
    </form>

{% endblock %}