{% extends 'base.html' %}
{% block content %}
    <style>
        .head{
            margin-top: 50px;
            margin-left: 120px;
        }
        .contact{
            margin-top: 40px;
        }
        .flash{
            margin-left: 0px;
            color:lightgreen;
        }

    </style>
    
    <div class="container-page">
        <div class="head">
            <h3>Contact us</h3>
            <h5>Задайте нам вопрос или опишите возникшую проблему</h5>
        </div>
    
        <section class="contact">
            <div class="container">
                {% for msg in get_flashed_messages() %}
                    <h6><div class="flash">{{ msg }}</div></h6>
                {% endfor %}
                <form action="contact" method="post">
                    <p>
                        <label for="name">Имя:    </label>
                        <input style="margin-left:23px;" type="text" name="name" placeholder="Имя" required>
                    </p>

                    <p>
                        <label for="email">E-mail:</label>
                        <input style="margin-left:10px;" type="email" name="email" placeholder="Email" required>
                    </p>
                
                    <p>
                        <label for="message">Вопрос:</label>
                        <input type="text" name="message" placeholder="Сообщение" required>
                    </p>
                    <button type="submit" class="btn btn-outline-secondary">Отправить</button>
                    
                </form>
            </div>  
        </section>
    </div>

    

{% endblock %}