{% extends 'base.html' %}
{% block content %}
<div class="container-main">
    <div class="row">
      <div class="col">
        <h2 class="maint">Hello! It's me!</h2>
        <p class="main">
            <ul class="main">
                <li><a class="regref" href="/register">Зарегистрироваться</a></li>
                <li><a class="authref" href="/login">Войти</a></li>
            </ul>
        </p>
      </div>
      <div class="col">
        <img src="https://miro.medium.com/max/1400/1*J9wJ3CwvtFXJ4mmyzcwo8A.jpeg" alt="hello" width="85%" height="85%">
      </div>
    </div>
{% endblock %}