<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <table border=3  width="100%" cellpadding=10 rowpadding=15>
            <tr><th colspan=3>&#128663; Автомобили</th></tr>
            <tr>
                <td width="30%"><a href="gtr.html">🚘 Nissan GT-R R35</a></td>
                <td><a href="mark2.html">🚘 Toyota Mark 2</a></td>
                <td><a href="crown.html">🚘 Ford Crown Victoria</a></td>
            </tr>
            <tr>
                <td><a href="civic.html">🚘 Honda Civic</a></td>
                <td><a href="laurel.html">🚘 Nissan Laurel</a></td>
                <td><a href="2101.html">🚘 ВАЗ-2101 «Жигули»</a></td>
            </tr>
            <tr>
                <td><a href="ae86.html">🚘 Toyota AE86</a></td>
                <td><a href="eclipse.html">🚘 Toyota Eclipse</a></td>
                <td><a href="rs6.html">🚘 Audi RS6</a></td>
            </tr>
        </table>
    </body>
</html>